
.footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    height: 66px;
    padding: 0 50px;
    align-items: center;
    border-top: solid 3px yellow;
    box-shadow: 0px 0px 5px 5px rgba($color: black , $alpha: 0.2);
    color: white;
    &__copyright-p{
        &__span{
            color: red;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }

    &__links{
        display: flex;
        margin-left: auto;
        margin-right: 50px;

    }

    &__link{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-right: 30px;
        color: white;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
        &__img{
            width: 44px;
            height: 44px;
        }
    }
}

@media (max-width:700px){
    .footer {
        &__copyright-p{
            font-size: 14px;
            margin-right: 20px;
            &__span{
                font-size: 14px;
            }
        }
        &__link{
            font-size: 14px;

            &__img{
                width: 34px;
                height: 34px;
            }
        }
    }
}